body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/*------------------- Title ---------------------- */

/* ----------------------------------------------------- */

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*------------------- Header-----------------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;

}
/* ----------------------------------------------------- */
/*------------------- Header logo-----------------------*/

.header-logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
        margin-right: 76px;
}

.header-logo-color {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;

}

/* ----------------------------------------------------- */
/*------------------- Header menu ---------------------- */

.header-menu-list {
display: flex;
gap: 40px;
margin-right: 332px;
align-items: center;
}

.header-menu-item {
    padding: 24px 0;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
        padding: 24px 0;
}

.header-menu-link:hover {
    color: #404BBF;
}
.header-menu-link:active {
    color:#404BBF;
}
.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
    padding: 24px 0;
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;

}

.header-address-link:hover {
    color: #404BBF;
}
.header-address-link:focus {
    color: #404BBF;
}

/* ----------------------------------------------------- */
/*------------------- Hero section ---------------------- */

.hero-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-section-heading {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
        min-width: 169px;
}

.hero-button {
    cursor: pointer;
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-features-list {
    display: flex;
    gap: 24px;
}

.section-features-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.features-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-list-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ----------------------------------------------------- */
/*------------------- Our Team section ----------------------*/

.our-team-section {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-list-item {
    background-color: #FFFFFF;
}

.our-team-box {
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.our-team-image {
    margin: 0 auto;
}

.our-team-member-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
        padding-top: 32px;
}

.our-team-member-position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* ----------------------------------------------------- */
/*------------------- Our Portfolio ---------------------- */

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.potfolio-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    }

.portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-list-image {
    margin: 0 auto;
}

.portfolio-item-descr-box {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-list-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------------------------------------------------- */
/*------------------- Footer ---------------------- */

.footer {
    background: #2e2f42;
    color: #4d5ae5;
    padding: 100px 0;
}


.footer-logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-logo-color {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}